<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New task</title>
</head>
<body>
    <form th:method="POST" th:action="@{/tasks}" th:object="${task}">
        <label for="name">Enter name:</label>
        <br>
        <input type="text" id="name" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">
            Name error
        </div>
        <br>

        <label for="description">Enter description:</label>
        <br>
        <input type="text" id="description" th:field="*{description}">
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red">
            Description error
        </div>
        <br>

        <label for="date">Enter expiring date (dd/MM/yyyy HH:mm):</label>
        <br>
        <input type="text" id="date" th:field="*{expiringDate}">
        <div th:if="${#fields.hasErrors('expiringDate')}" th:errors="*{expiringDate}" style="color: red">
            Date error
        </div>
        <br>

        <label for="project">Choose project:</label>
        <br>
        <select name="projectId" id="project">
            <option value="-1">No project</option>
            <option th:each="project: ${projects}" th:text="${project.getName()}" th:value="${project.getId()}">
                Project name
            </option>
        </select>

        <button type="submit">Create</button>
    </form>
</body>
</html>