<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit project</title>
</head>
<body>
    <form th:method="PATCH" th:action="@{/projects/{id}(id = ${project.getId()})}" th:object="${project}">
        <label for="name">Enter name:</label>
        <input type="text" id="name" th:field="*{name}" th:value="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">
            Name error
        </div>
        <br>
        <hr>

        <button type="submit">Edit</button>
    </form>
</body>
</html>