<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
    <div th:if="${project} == null">
        <h1>No project with such ID!</h1>
    </div>

    <div th:if="${project} != null">
        <h2 th:text="${project.getName()}">name</h2>

        <br>
        <form th:method="DELETE" th:action="@{/projects/{id}(id=${project.getId()})}">
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>